<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="io.github.ama_csail.ama">

    <application
        android:allowBackup="true"
        tools:replace="android:allowBackup"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name=".menu.AccessibleHoverMenuService" />

    </application>

</manifest>
