*.DS_Store
*.idea/
build/*
dependencies/*
bility-core/build/*
bility-core/out/*
bility-android/build/*
bility-android/out/*
bility-server/build/*
bility-server/out/*
example-app/build/*
example-app/out/*
AndroidServer/*
*local.properties
private_key_sender.asc
public_key_sender.asc
